#contact{
    width: 100%;
    // height: 100%;
    #conimg{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        #conimage{
            background: url(../Images/YmwvZDwW.png);
            background-size: cover;
            background-repeat: no-repeat;
            width: 20rem;
            height: 20rem;
            border: 10px solid $sixty;
            border-radius: 50%;
        }
    }
    #conform{
        padding-top: 4rem;
        #form--row{
            #form--first--col{
                display: flex;
                align-items: center;
                justify-content: center;
                input{
                    width: 70%;
                    height: 2.5rem;
                    background: #ffb8d14a;
                    color: $fourty;
                    border: 2px solid $sixty;
                    border-radius: 5px;
                    &:focus{
                        outline: none;
                    }
                    &::placeholder{
                        outline: none;
                        padding-right: 1rem;
                        color: #ffb8d1be;
                        text-align: center;
                    }
                }
            }
            #form--second--col{
                padding-top: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                input{
                    width: 70%;
                    height: 2.5rem;
                    background: #ffb8d14a;
                    color: $fourty;
                    border: 2px solid $sixty;
                    border-radius: 5px;
                    &:focus{
                        outline: none;
                    }
                    &::placeholder{
                        outline: none;
                        padding-right: 1rem;
                        color: #ffb8d1be;
                        text-align: center;
                    }
                }
            }
            #form--third--col{
                padding-top: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                textarea{
                    width: 70%;
                     background: #ffb8d14a;
                    color: $fourty;
                    border: 2px solid $sixty;
                    border-radius: 5px;
                    &:focus{
                        outline: none;
                    }
                    &::placeholder{
                        outline: none;
                        padding-right: 1rem;
                        color: #ffb8d1be;
                        text-align: center;
                    }
                }
            }
            #form--fourth--col{
                padding-top: 2rem;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                button{
                    width:10rem;
                    height: 2.5rem;
                    background: #ffb8d14a;
                    border: 2px solid $sixty;
                    border-bottom-right-radius: 20px;
                    color: $fourty;
                }
            }
        }
        #socials{
            margin-top: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            // border: 1px solid red;
            a{
                margin-right: 2rem;
                font-size: 1.5rem;
                color: $fourty;
                transition: all 1s ease-in-out;
                i{
                    transition: all 1s ease-in-out;
                    &:hover{
                        transform: rotate(360deg);
                    }
                }
            }
        }
        h3{
            margin-top: 1.5rem;
            font-size: 1.2rem;
            text-align: end;
            font-family: 'Allerta Stencil', sans-serif;
            a{
                color: darkblue;
                font-family: 'Allerta Stencil', sans-serif;
            }
        }
    }
}