#homepage{
    // padding: 2rem 10rem 2rem 10rem;
    #bur{
        #burgur{
            #b1{
                #landing_button{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    margin-top: 1rem;
                    button{
                        width: 3rem;
                        height: 3rem;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        border: 1px solid $fourty;
                        background: rgba(114, 147, 160, 0.2);
                        transition: all .5s ease-in-out;
                        overflow: hidden;
                        #b2{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            position: relative;
                            width: 50rem;
                            height: 50rem;
                            overflow: hidden;
                            // margin-bottom: 2rem;
                            // border: 2px solid blue;
                            #b3{
                                // border: 2px solid red;
                                height: .1rem;
                                width:1.5rem;
                                background: $fourty;
                                overflow: hidden;
                                &::before{
                                    content: '';
                                    height: .1rem;
                                    width: 1.5rem;
                                    background: $fourty;
                                    // border: 2px solid blueee ;
                                    position: absolute;
                                    transform: translateX(-.75em) translateY(-.5rem);
                                    overflow: hidden;
                                    transition: all .5s ease-in-out;
                                }
                                &::after{
                                    content: '';
                                    height: .1rem;
                                    width: 1.5rem;
                                    background: $fourty;
                                    // border: 2px solid blueee ;
                                    position: absolute;
                                    transform: translateX(-.75em) translateY(.5rem);
                                    overflow: hidden;
                                    transition: all .5s ease-in-out;
                                }
                            }
                        }
                        &:hover{
                            #b2{
                                #b3{
                                    &::after{
                                        content: '';
                                        width: .7rem;
                                    }
                                    &::before{
                                        content: '';
                                        width: .7rem;
                                    }
                                }
                            }
                        }
                        &:focus{
                            outline: none;
                        }
                    }
                }
            }
        }
    }
    #holder{
        #landingGlass{
            margin-top: 6rem;
    
            // margin-bottom: 2rem;
            #lg1{
                #lg2{
                    font-size: 1rem;
                    font-weight: 400;
                    margin-top: .8rem;
                }
                #lg3{
                    font-size: 2.8rem;
                    font-weight: 700;
                    margin-top: 1rem;
                    font-family: 'Allerta Stencil', sans-serif;
                }
                #lg4{
                    font-size: 1.7rem;
                    font-weight: 400;
                    margin-bottom: 3rem;
                    margin-top: 1rem;
                }
                #lg5{
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    margin-bottom: 2rem;
                    #lg6{
                        // border: 2px solid green;
                        button{
                            width: 8rem;
                            height: 2.6rem;
                            border: 1px solid $fourty;
                            background: rgba(114, 147, 160, 0.2);
                            border-radius: 50px;
                            color: $fourty;
                            font-weight: 500;
                            position: relative;
                            transition: all .3s ease-in-out;
                            overflow: hidden;
                            a{
                                color: $fourty;
                                &:hover{
                                    text-decoration: none;
                                }
                            }
                            &::after{
                                content: '';
                                position: absolute;
                                    top: 0;
                                    left: 0rem;
                                    width: 0;
                                    height: 2.6rem;
                                    background: $fourty;
                                    font-weight: 500;
                                    transition: .3s;
                                    z-index: -1;
                            }
                            &:hover{
                                border: none;
                                a{
                                    button{
                                        color: $sixty;
                                    }
                                    color: $sixty;
                                    &:hover{
                                        text-decoration: none;
                                    }
                                }
                                &::after{
                                    content: '';
                                    width:8rem;
                                    
                                }
                            }
                            &:focus{
                                outline: none;
                            }
                        }
                    }
                    #lg7{
                        button{
                            width: 8rem;
                            height: 2.6rem;
                            border: 1px solid $fourty;
                            background: rgba(114, 147, 160, 0.2);
                            border-radius: 50px;
                            color: $fourty;
                            font-weight: 500;
                            position: relative;
                            transition: all .3s ease-in-out;
                            overflow: hidden;
                            a{
                                &:hover{
                                    text-decoration: none;
                                }
                            }
                            &::after{
                                content: '';
                                position: absolute;
                                    top: 0;
                                    left: 0rem;
                                    width: 0;
                                    height: 2.6rem;
                                    background: $fourty;
                                    font-weight: 500;
                                    transition: .3s;
                                    z-index: -1;
                            }
                            &:hover{
                                border: none;
                                a{
                                    button{
                                        color: $sixty;
                                    }
                                    &:hover{
                                        text-decoration: none;
                                    }
                                }
                                &::after{
                                    content: '';
                                    width:9rem;
                                    
                                }
                            }
                            &:focus{
                                outline: none;
                            }
                        }
                    }
                }
            }
            #land{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                // border: 2px solid green;
                div{
                    // border: 2px solid red;
                    // margin-top: 2rem;
                    margin-bottom: 2rem;
                    #landingImage{
                        background-image: url(../Images/-ofai7xW.png);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 20rem;
                        height: 20rem;
                        border: 8px solid $sixty;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
    #fullNavigation{
        margin-top: 1rem;
        width: 100%;
        height: 70vh;
        overflow: hidden;
        #homeNav{
            width: 100%;
            height: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 4rem;
            font-family: 'Allerta Stencil', sans-serif;
            position: relative;
            transition: transform .5s ease-in-out;
            a{
                color: $fourty;
                font-family: 'Allerta Stencil', sans-serif;
                &:hover{
                    text-decoration: none;
                }
            }
            &:hover{
                transform: scale(1.05);
                &::after{
                    content: 'Home';
                    position: absolute;
                    top: -2;
                    font-size: 8rem;
                    z-index: -3;
                    opacity: .1;
                    font-family: 'Allerta Stencil', sans-serif;
                }
            }
        }
        #aboutNav{
            width: 100%;
            height: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 4rem;
            font-family: 'Allerta Stencil', sans-serif;
            transition: transform .5s ease-in-out;
            a{
                color: $fourty;
                font-family: 'Allerta Stencil', sans-serif;
                &:hover{
                    text-decoration: none;
                }
            }
            &:hover{
                transform: scale(1.05);
                &::after{
                    content: 'About';
                    position: absolute;
                    top: -2;
                    font-size: 8rem;
                    z-index: -3;
                    opacity: .1;
                    font-family: 'Allerta Stencil', sans-serif;
                }
            }
        }
        #projectNav{
            width: 100%;
            height: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 4rem;
            transition: transform .5s ease-in-out;
            a{
                color: $fourty;
                font-family: 'Allerta Stencil', sans-serif;
                &:hover{
                    text-decoration: none;
                }
            }
            &:hover{
                transform: scale(1.05);
                &::after{
                    content: 'Project';
                    position: absolute;
                    top: -2;
                    font-size: 8rem;
                    z-index: -3;
                    opacity: .1;
                    font-family: 'Allerta Stencil', sans-serif;
                }
            }
        }
        #contactNav{
            width: 100%;
            height: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 4rem;
            font-family: 'Allerta Stencil', sans-serif;
            transition: transform .5s ease-in-out;
            a{
                color: $fourty;
                font-family: 'Allerta Stencil', sans-serif;
                &:hover{
                    text-decoration: none;
                }
            }
            &:hover{
                transform: scale(1.05);
                &::after{
                    content: 'Contact';
                    position: absolute;
                    top: -2;
                    font-size: 8rem;
                    z-index: -3;
                    opacity: .1;
                    font-family: 'Allerta Stencil', sans-serif;
                }
            }
        }
    }
}