@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Laila:wght@300;400;500;600;700&family=Orbitron:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Laila", sans-serif;
}

#owner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}
#owner #landingContainer {
  width: 100%;
  background: linear-gradient(to bottom right, #292d2e, #FFB8D1);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#owner #landingContainer #home {
  margin: 4rem;
  top: 4rem;
  border: 1px solid #7293A0;
  border-radius: 20px;
  min-width: 80%;
  min-height: 70vh;
  background: rgba(114, 147, 160, 0.2);
  box-shadow: 0 8px 32px 0 rgba(114, 147, 160, 0.29);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  color: #FFB8D1;
}

#homepage #bur #burgur #b1 #landing_button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
}
#homepage #bur #burgur #b1 #landing_button button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #FFB8D1;
  background: rgba(114, 147, 160, 0.2);
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
#homepage #bur #burgur #b1 #landing_button button #b2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 50rem;
  height: 50rem;
  overflow: hidden;
}
#homepage #bur #burgur #b1 #landing_button button #b2 #b3 {
  height: 0.1rem;
  width: 1.5rem;
  background: #FFB8D1;
  overflow: hidden;
}
#homepage #bur #burgur #b1 #landing_button button #b2 #b3::before {
  content: "";
  height: 0.1rem;
  width: 1.5rem;
  background: #FFB8D1;
  position: absolute;
  transform: translateX(-0.75em) translateY(-0.5rem);
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
#homepage #bur #burgur #b1 #landing_button button #b2 #b3::after {
  content: "";
  height: 0.1rem;
  width: 1.5rem;
  background: #FFB8D1;
  position: absolute;
  transform: translateX(-0.75em) translateY(0.5rem);
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
#homepage #bur #burgur #b1 #landing_button button:hover #b2 #b3::after {
  content: "";
  width: 0.7rem;
}
#homepage #bur #burgur #b1 #landing_button button:hover #b2 #b3::before {
  content: "";
  width: 0.7rem;
}
#homepage #bur #burgur #b1 #landing_button button:focus {
  outline: none;
}
#homepage #holder #landingGlass {
  margin-top: 6rem;
}
#homepage #holder #landingGlass #lg1 #lg2 {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.8rem;
}
#homepage #holder #landingGlass #lg1 #lg3 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-top: 1rem;
  font-family: "Allerta Stencil", sans-serif;
}
#homepage #holder #landingGlass #lg1 #lg4 {
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 3rem;
  margin-top: 1rem;
}
#homepage #holder #landingGlass #lg1 #lg5 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}
#homepage #holder #landingGlass #lg1 #lg5 #lg6 button {
  width: 8rem;
  height: 2.6rem;
  border: 1px solid #FFB8D1;
  background: rgba(114, 147, 160, 0.2);
  border-radius: 50px;
  color: #FFB8D1;
  font-weight: 500;
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
#homepage #holder #landingGlass #lg1 #lg5 #lg6 button a {
  color: #FFB8D1;
}
#homepage #holder #landingGlass #lg1 #lg5 #lg6 button a:hover {
  text-decoration: none;
}
#homepage #holder #landingGlass #lg1 #lg5 #lg6 button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0rem;
  width: 0;
  height: 2.6rem;
  background: #FFB8D1;
  font-weight: 500;
  transition: 0.3s;
  z-index: -1;
}
#homepage #holder #landingGlass #lg1 #lg5 #lg6 button:hover {
  border: none;
}
#homepage #holder #landingGlass #lg1 #lg5 #lg6 button:hover a {
  color: #7293A0;
}
#homepage #holder #landingGlass #lg1 #lg5 #lg6 button:hover a button {
  color: #7293A0;
}
#homepage #holder #landingGlass #lg1 #lg5 #lg6 button:hover a:hover {
  text-decoration: none;
}
#homepage #holder #landingGlass #lg1 #lg5 #lg6 button:hover::after {
  content: "";
  width: 8rem;
}
#homepage #holder #landingGlass #lg1 #lg5 #lg6 button:focus {
  outline: none;
}
#homepage #holder #landingGlass #lg1 #lg5 #lg7 button {
  width: 8rem;
  height: 2.6rem;
  border: 1px solid #FFB8D1;
  background: rgba(114, 147, 160, 0.2);
  border-radius: 50px;
  color: #FFB8D1;
  font-weight: 500;
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
#homepage #holder #landingGlass #lg1 #lg5 #lg7 button a:hover {
  text-decoration: none;
}
#homepage #holder #landingGlass #lg1 #lg5 #lg7 button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0rem;
  width: 0;
  height: 2.6rem;
  background: #FFB8D1;
  font-weight: 500;
  transition: 0.3s;
  z-index: -1;
}
#homepage #holder #landingGlass #lg1 #lg5 #lg7 button:hover {
  border: none;
}
#homepage #holder #landingGlass #lg1 #lg5 #lg7 button:hover a button {
  color: #7293A0;
}
#homepage #holder #landingGlass #lg1 #lg5 #lg7 button:hover a:hover {
  text-decoration: none;
}
#homepage #holder #landingGlass #lg1 #lg5 #lg7 button:hover::after {
  content: "";
  width: 9rem;
}
#homepage #holder #landingGlass #lg1 #lg5 #lg7 button:focus {
  outline: none;
}
#homepage #holder #landingGlass #land {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#homepage #holder #landingGlass #land div {
  margin-bottom: 2rem;
}
#homepage #holder #landingGlass #land div #landingImage {
  background-image: url(../Images/-ofai7xW.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 20rem;
  height: 20rem;
  border: 8px solid #7293A0;
  border-radius: 50%;
}
#homepage #fullNavigation {
  margin-top: 1rem;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}
#homepage #fullNavigation #homeNav {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-family: "Allerta Stencil", sans-serif;
  position: relative;
  transition: transform 0.5s ease-in-out;
}
#homepage #fullNavigation #homeNav a {
  color: #FFB8D1;
  font-family: "Allerta Stencil", sans-serif;
}
#homepage #fullNavigation #homeNav a:hover {
  text-decoration: none;
}
#homepage #fullNavigation #homeNav:hover {
  transform: scale(1.05);
}
#homepage #fullNavigation #homeNav:hover::after {
  content: "Home";
  position: absolute;
  top: -2;
  font-size: 8rem;
  z-index: -3;
  opacity: 0.1;
  font-family: "Allerta Stencil", sans-serif;
}
#homepage #fullNavigation #aboutNav {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-family: "Allerta Stencil", sans-serif;
  transition: transform 0.5s ease-in-out;
}
#homepage #fullNavigation #aboutNav a {
  color: #FFB8D1;
  font-family: "Allerta Stencil", sans-serif;
}
#homepage #fullNavigation #aboutNav a:hover {
  text-decoration: none;
}
#homepage #fullNavigation #aboutNav:hover {
  transform: scale(1.05);
}
#homepage #fullNavigation #aboutNav:hover::after {
  content: "About";
  position: absolute;
  top: -2;
  font-size: 8rem;
  z-index: -3;
  opacity: 0.1;
  font-family: "Allerta Stencil", sans-serif;
}
#homepage #fullNavigation #projectNav {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  transition: transform 0.5s ease-in-out;
}
#homepage #fullNavigation #projectNav a {
  color: #FFB8D1;
  font-family: "Allerta Stencil", sans-serif;
}
#homepage #fullNavigation #projectNav a:hover {
  text-decoration: none;
}
#homepage #fullNavigation #projectNav:hover {
  transform: scale(1.05);
}
#homepage #fullNavigation #projectNav:hover::after {
  content: "Project";
  position: absolute;
  top: -2;
  font-size: 8rem;
  z-index: -3;
  opacity: 0.1;
  font-family: "Allerta Stencil", sans-serif;
}
#homepage #fullNavigation #contactNav {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-family: "Allerta Stencil", sans-serif;
  transition: transform 0.5s ease-in-out;
}
#homepage #fullNavigation #contactNav a {
  color: #FFB8D1;
  font-family: "Allerta Stencil", sans-serif;
}
#homepage #fullNavigation #contactNav a:hover {
  text-decoration: none;
}
#homepage #fullNavigation #contactNav:hover {
  transform: scale(1.05);
}
#homepage #fullNavigation #contactNav:hover::after {
  content: "Contact";
  position: absolute;
  top: -2;
  font-size: 8rem;
  z-index: -3;
  opacity: 0.1;
  font-family: "Allerta Stencil", sans-serif;
}

#about {
  padding: 3rem;
}
#about #abouttitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: "Allerta Stencil", sans-serif;
}
#about #aboutContent #aboutText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 0.8rem;
  flex-direction: column;
  overflow: hidden;
  overflow-wrap: break-word;
}
#about #aboutContent #aboutText #aboutMe h4 {
  font-size: 1rem;
  line-height: 1.3rem;
}
#about #aboutContent #aboutText #aboutMe #skils {
  margin-top: 0.8rem;
}
#about #aboutContent #aboutText #aboutMe #skils h3 {
  text-decoration: underline;
}
#about #aboutContent #aboutText #aboutMe #skils #all {
  display: flex;
  align-items: center;
  justify-content: center;
}
#about #aboutContent #aboutText #aboutMe #skils #all div {
  padding: 0.5rem;
  border: 1.35px solid #FFB8D1;
  border-radius: 50px;
  margin: 0.3rem 0.3rem 0.2rem 0.1rem;
  background: rgba(114, 147, 160, 0.326);
}
#about #aboutContent #aboutText #aboutMe #resume {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0.8rem;
}
#about #aboutContent #aboutText #aboutMe #resume a {
  margin-top: 0.1rem;
  width: 10rem;
  height: 2.3rem;
  border: 2px solid #FFB8D1;
  border-radius: 50px;
  background: #FFB8D1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7293A0;
}
#about #aboutContent #aboutText #aboutMe #resume a:hover {
  text-decoration: none;
}
#about #aboutContent #aboutImage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
#about #aboutContent #aboutImage #imageHolder {
  background: url(../Images/3CcDjIXx.png);
  width: 20rem;
  height: 20rem;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 10px solid #7293A0;
}

#contact {
  width: 100%;
}
#contact #conimg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
#contact #conimg #conimage {
  background: url(../Images/YmwvZDwW.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 20rem;
  height: 20rem;
  border: 10px solid #7293A0;
  border-radius: 50%;
}
#contact #conform {
  padding-top: 4rem;
}
#contact #conform #form--row #form--first--col {
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact #conform #form--row #form--first--col input {
  width: 70%;
  height: 2.5rem;
  background: rgba(255, 184, 209, 0.2901960784);
  color: #FFB8D1;
  border: 2px solid #7293A0;
  border-radius: 5px;
}
#contact #conform #form--row #form--first--col input:focus {
  outline: none;
}
#contact #conform #form--row #form--first--col input::-moz-placeholder {
  outline: none;
  padding-right: 1rem;
  color: rgba(255, 184, 209, 0.7450980392);
  text-align: center;
}
#contact #conform #form--row #form--first--col input:-ms-input-placeholder {
  outline: none;
  padding-right: 1rem;
  color: rgba(255, 184, 209, 0.7450980392);
  text-align: center;
}
#contact #conform #form--row #form--first--col input::placeholder {
  outline: none;
  padding-right: 1rem;
  color: rgba(255, 184, 209, 0.7450980392);
  text-align: center;
}
#contact #conform #form--row #form--second--col {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact #conform #form--row #form--second--col input {
  width: 70%;
  height: 2.5rem;
  background: rgba(255, 184, 209, 0.2901960784);
  color: #FFB8D1;
  border: 2px solid #7293A0;
  border-radius: 5px;
}
#contact #conform #form--row #form--second--col input:focus {
  outline: none;
}
#contact #conform #form--row #form--second--col input::-moz-placeholder {
  outline: none;
  padding-right: 1rem;
  color: rgba(255, 184, 209, 0.7450980392);
  text-align: center;
}
#contact #conform #form--row #form--second--col input:-ms-input-placeholder {
  outline: none;
  padding-right: 1rem;
  color: rgba(255, 184, 209, 0.7450980392);
  text-align: center;
}
#contact #conform #form--row #form--second--col input::placeholder {
  outline: none;
  padding-right: 1rem;
  color: rgba(255, 184, 209, 0.7450980392);
  text-align: center;
}
#contact #conform #form--row #form--third--col {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact #conform #form--row #form--third--col textarea {
  width: 70%;
  background: rgba(255, 184, 209, 0.2901960784);
  color: #FFB8D1;
  border: 2px solid #7293A0;
  border-radius: 5px;
}
#contact #conform #form--row #form--third--col textarea:focus {
  outline: none;
}
#contact #conform #form--row #form--third--col textarea::-moz-placeholder {
  outline: none;
  padding-right: 1rem;
  color: rgba(255, 184, 209, 0.7450980392);
  text-align: center;
}
#contact #conform #form--row #form--third--col textarea:-ms-input-placeholder {
  outline: none;
  padding-right: 1rem;
  color: rgba(255, 184, 209, 0.7450980392);
  text-align: center;
}
#contact #conform #form--row #form--third--col textarea::placeholder {
  outline: none;
  padding-right: 1rem;
  color: rgba(255, 184, 209, 0.7450980392);
  text-align: center;
}
#contact #conform #form--row #form--fourth--col {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#contact #conform #form--row #form--fourth--col button {
  width: 10rem;
  height: 2.5rem;
  background: rgba(255, 184, 209, 0.2901960784);
  border: 2px solid #7293A0;
  border-bottom-right-radius: 20px;
  color: #FFB8D1;
}
#contact #conform #socials {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
#contact #conform #socials a {
  margin-right: 2rem;
  font-size: 1.5rem;
  color: #FFB8D1;
  transition: all 1s ease-in-out;
}
#contact #conform #socials a i {
  transition: all 1s ease-in-out;
}
#contact #conform #socials a i:hover {
  transform: rotate(360deg);
}
#contact #conform h3 {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  text-align: end;
  font-family: "Allerta Stencil", sans-serif;
}
#contact #conform h3 a {
  color: darkblue;
  font-family: "Allerta Stencil", sans-serif;
}/*# sourceMappingURL=index.css.map */