#about{
    padding: 3rem;
    #abouttitle{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        font-family: 'Allerta Stencil', sans-serif;
    }
    #aboutContent{
        #aboutText{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: .8rem;
            flex-direction: column;
            // border: 2px solid red;
            overflow: hidden;
            overflow-wrap: break-word;
            #aboutMe{
                h4{
                    font-size: 1rem;
                    line-height: 1.3rem;
                }
                #skils{
                    margin-top: .8rem;
                    h3{
                        text-decoration: underline;
                    }
                    #all{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        div{
                            // width: fit-content;
                            padding: .5rem;
                            border: 1.35px solid $fourty;
                            border-radius: 50px;
                            margin: .3rem .3rem .2rem .1rem;
                            background: rgba(114, 147, 160, 0.326);
    
                        }
                    }
                }
                #resume{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    margin-top: .8rem;
                    a{
                        margin-top: .1rem;
                        width: 10rem;
                        height: 2.3rem;
                        border: 2px solid $fourty;
                        border-radius: 50px;
                        background: $fourty;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $sixty;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        #aboutImage{
            display: flex;
            align-items: center;
            justify-content: center;
            #imageHolder{
                background: url(./3CcDjIXx.png);
                width: 20rem;
                height: 20rem;
                background-position: center;
                background-size: cover;
                border-radius: 50%;
                border: 10px solid $sixty
            }
        }
    }
}
@media (max-device-width:680px){
    #owner{
        display: flex;
        align-items: center;
        justify-content: center;
        // flex-direction: column;
        width: 100%;
        .g{
            width: 100%;
            background: linear-gradient(to bottom right, #292d2e, #FFB8D1 );
            // background: blue;
            min-height: 250vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            // z-index: -1;
            // border: 2px solid red
            #taker{
                // border: 2px solid red;
                width: 100%;
                min-height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                position: relative;
                #circles{
                    // border: 2px solid blue;
                    width: 100%;
                    display: flex;
                    position: relative;
                    // border: 5px solid red;
                    min-height: 100vh;
                    // overflow: hidden;
                    #one{
                        width: 4rem;
                        height: 4rem;
                        border-radius: 50%;
                        background: $sixty;
                        position: absolute;
                        top: 1%;
                        left: 1%;
                        opacity: .7;
                        animation: one 120s infinite ease-in-out;
                        filter: blur(.3rem);
                        @keyframes one {
                            0%{
                                top: 1%;
                                left: 1%;
                            }
                            32%{
                                top: 29%;
                                left: 62%;
                            }
                            40%{
                                top: 42%;
                                left: 12%;
                            }
                            69%{
                                top: 64%;
                                left: 32%;
                            }
                            100%{
                                top: 1%;
                                left: 1%;
                            }
                        }
                    }
                    #two{
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                        background: #9AD1D4;
                        position: absolute;
                        top: 90%;
                        left: 15%;
                        opacity: .7;
                        filter: blur(.3rem);
                        animation: two 180s infinite ease-in-out;
                        @keyframes two {
                            0%{
                                top: 90%;
                                left: 15%;
                            }
                            30%{
                                top: 29%;
                                left: 12%;
                            }
                            55%{
                                top: 82%;
                                left: 82%;
                            }
                            7%{
                                top: 24%;
                                left: 32%;
                            }
                            100%{
                                top: 90%;
                                left: 15%;
                            }
                        }
                    }
                    #three{
                        width: 4rem;
                        height: 4rem;
                        border-radius: 50%;
                        background: $fourty;
                        opacity: .7;
                        filter: blur(.3rem);
                        position: absolute;
                        top: 5%;
                        left: 90%;
                        animation: three 120s infinite ease-in-out;
                        @keyframes three {
                            0%{
                                top: 5%;
                                left: 90%;
                            }
                            25%{
                                top: 79%;
                                left: 12%;
                            }
                            50%{
                                top: 42%;
                                left: 52%;
                            }
                            75%{
                                top: 54%;
                                left: 32%;
                            }
                            100%{
                                top: 5%;
                                left: 90%;
                            }
                        }
                    }
                    #four{
                        width: 6rem;
                        height: 6rem;
                        border-radius: 50%;
                        background: #5AA9E6;
                        position: absolute;
                        opacity: .7;
                        top: 45%;
                        left: 65%;
                        animation: four 120s infinite ease-in-out;
                        filter: blur(.3rem);
                        @keyframes four {
                            0%{
                                top: 45%;
                                left: 65%;
                            }
                            35%{
                                top: 9%;
                                left: 12%;
                            }
                            50%{
                                top: 72%;
                                left: 12%;
                            }
                            65%{
                                top: 64%;
                                left: 72%;
                            }
                            100%{
                                top: 45%;
                                left: 65%;
                            }
                        }
                    }
                    
                }
                .h{
                    // position: fixed;
                    border: 1px solid $sixty;
                    // border: 2px solid red;
                    border-radius: 20px;
                    // top: 0;
                    width: 85%;
                    min-height: 85vh;
                    position: absolute;
                    // z-index: 2;
                    background: rgba(114, 147, 160, 0.2);
                    box-shadow: 0 8px 32px 0 rgba(114, 147, 160, 0.29);
                    backdrop-filter: blur( 12px );
                    color: $fourty;
                    #about{
                        padding: 1rem;
                        #abouttitle{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 2rem;
                            font-family: 'Allerta Stencil', sans-serif;
                        }
                        #aboutContent{
                            #aboutText{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                                margin-top: .8rem;
                                flex-direction: column;
                                // border: 2px solid red;
                                overflow: hidden;
                                overflow-wrap: break-word;
                                #aboutMe{
                                    h4{
                                        font-size: .8rem;
                                        line-height: 1.3rem;
                                    }
                                    #skils{
                                        margin-top: .8rem;
                                        h3{
                                            text-decoration: underline;
                                        }
                                        #all{
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            div{
                                                // width: fit-content;
                                                padding: .5rem;
                                                border: 1.35px solid $fourty;
                                                border-radius: 50px;
                                                margin: .3rem .3rem .2rem .1rem;
                                                background: rgba(114, 147, 160, 0.326);
                        
                                            }
                                        }
                                    }
                                    #resume{
                                        display: flex;
                                        align-items: center;
                                        justify-content: flex-end;
                                        margin-top: .8rem;
                                        margin-bottom: .8rem;
                                        a{
                                            margin-top: .1rem;
                                            width: 10rem;
                                            height: 2.3rem;
                                            border: 2px solid $fourty;
                                            border-radius: 50px;
                                            background: $fourty;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            color: $sixty;
                                            &:hover{
                                                text-decoration: none;
                                            }
                                        }
                                    }
                                }
                            }
                            #aboutImage{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                #imageHolder{
                                    background: url(./3CcDjIXx.png);
                                    width: 15rem;
                                    height: 15rem;
                                    background-position: center;
                                    background-size: cover;
                                    border-radius: 50%;
                                    border: 10px solid $sixty
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}